* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #08070b;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;

    background: #0d0b12;
    border-bottom: 1px solid #241735;
}

.logo {
    font-size: 24px;
    font-weight: 900;

    color: white;
    -webkit-text-stroke: 1px #9b3cff;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
}

h2 {
    margin-bottom: 18px;
}

.games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.game-card {
    background: #120d19;
    border: 1px solid #241735;
    border-radius: 10px;
    padding: 8px;
}

.game-card img {
    width: 100%;
    aspect-ratio: 16 / 10;
    object-fit: cover;
    border-radius: 7px;
}

.game-card h3 {
    font-size: 14px;
    margin: 8px 3px;
}